@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
.headerBefore::before{
    content:"";
    position: absolute;
    height: 2px;
    width: 100vw;
    bottom: 4px;
    background-color: rgb(156, 163, 175);
}
.blogLink::before{
    content:"";
    position: absolute;
    height: 4px;
    width: 100%;
   bottom: -10px;
    background-color: rgb(34, 197, 14);
}
.blogLinkPara::before{
    content:"";
    position: absolute;
    height: 1.5px;
    width: 100%;
   bottom: 5px;
    background-color: rgb(156, 163, 175);
}
.boxLangage::before{
    content:"";
    position: absolute;
    height: 1.5px;
    width: 100%; 
    bottom: 15px;
    background-color: rgb(156, 163, 175);
}
.containerFooter::before{
    content:"";
    position: absolute;
    height: 1.5px;
    width: 100%; 
    bottom: 60px;
    background-color: rgb(156, 163, 175);
}
@media screen and ( max-width:1210px ) {
   .navigation{
        position: absolute;
        display: flex;
        top: 56px;
        right: -100%;
        
        flex-direction: column;
        background-color: rgb(34, 197, 14);
        transition: 1s ease-in-out;
        height: 400px;
        width: 300px;
    }
    .bars{
        position: absolute;
        right: 20px;
        top: 10px;
        cursor: pointer;
        
    }
    .navigationHover{
        position: absolute;
        display: flex;
        top: 56px;
        right: 0;
        transition: 1s ease-in-out;
        flex-direction: column;
        background-color: rgb(34, 197, 14);
    
        height: 400px;
        width: 300px;
    }
    .remove2{
        position: absolute;
        right: 20px;
        top: 10px;
        cursor: pointer; 
    }
    
}


}