@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
.headerBefore::before{
    content:"";
    position: absolute;
    height: 2px;
    width: 100vw;
    bottom: 4px;
    background-color: rgb(156, 163, 175);
}
.blogLink::before{
    content:"";
    position: absolute;
    height: 4px;
    width: 100%;
   bottom: -10px;
    background-color: rgb(34, 197, 14);
}
.blogLinkPara::before{
    content:"";
    position: absolute;
    height: 1.5px;
    width: 100%;
   bottom: 5px;
    background-color: rgb(156, 163, 175);
}
.boxLangage::before{
    content:"";
    position: absolute;
    height: 1.5px;
    width: 100%; 
    bottom: 15px;
    background-color: rgb(156, 163, 175);
}
.containerFooter::before{
    content:"";
    position: absolute;
    height: 1.5px;
    width: 100%; 
    bottom: 60px;
    background-color: red;
}

}